<br>
<% @team_number.times do %>
  <div class="row no-gutters">

    <div class="col-md-4 mt-2 rounded-circle" style="text-align: center;">
      <%= image_tag @avatar, alt: "alttext", size: "300x300" %>
    </div>
      <div class="col-md-8">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="card-text">Your super hero name: <strong><%= @hero_name %></strong></p>
            <p class="card-text"> Your super hero power: <cite class="text-info"> <%= @hero_power %> </cite>  </p>

            <hr class="my-4">

            <p class="card-text"> Your super corp power: <cite class="text-info"> <%= @corp_power %> </cite>  </p>

            <hr class="my-4">

            <p class="card-text"> Your super corp title: <cite class="text-info"> <%= @corp_title %> </cite>  </p>

            <hr class="my-4">

            <footer class="blockquote-footer">Remember all of this is fake.👻</footer>
          </blockquote>
        </div>
      </div>
  </div>
<% end %>
